# --- Python & UV ---
__pycache__/
.venv/
.python-version
uv.lock

repos.json
main.dist/
build_output/
dist_folder/
__pycache__/
*.exe
# --- Environment Specific ---
.env
*.log

# --- Project Data ---
# Note: If you want your repos.json template in Git, DON'T ignore it.
# But if it contains private paths, you might want to ignore it:
